@charset "utf-8";
// ============================
// 共通パーツ読み込み
// ============================
@import "_core";

// ============================
// 共通要素
// ============================
/*==============================
共通要素
==============================*/
.wrap {
	@include wrap;
	@extend %extend-cf;
}
.l-main .breadlist >p {
	margin:0 0 25px;
	font-size:14px;
	line-height:1;
	a{
		text-decoration:none;
		&:hover{
			text-decoration:underline;
		}
	}
}
.headline-main{
	margin:0 0 25px;
}
.pagenation{
	text-align: right;
	padding: 0 0 25px;
	li{
		display: inline;
		padding: 0 0 0 10px;
		&:last-child a{
			text-decoration: none;
		}
	}
}
.headline-device{
	margin:0 0 25px 0;
	padding:7px 25px 7px 25px;
	font-weight:700;
	background:url(assets/img/module/headline_bg.png) repeat-y 0 0;
}
// ============================
// l-titlebar
// ============================
/*==============================
タイトルバー
==============================*/
.l-titlebar {
	width:100%;
	height:25px;
	background:#fff;
	h1 {
		@include wrap;
		font-size:10px;
		line-height:25px;
		color:#333;
	}
}

h2{
    padding: 0 0 30px;
}
h3{
    padding: 0 0 15px;
    &.blog-ttl{
        background: #000;
        color: #fff;
        padding: 7px 0 7px 20px;
        margin: 0 0 20px;
        font: {
            size: 16px;
            weight: bold;
        }
    }
}
h4{
    padding: 0 0 20px;
}


.mb5{
    margin: 0 0 5px;
}
.pb15{
   padding: 0 0 15px;
}
.pt7{
    padding: 7px 0 0;
}
.pt10{
    padding: 10px 0 0;
}
.pb35{
    padding: 0 0 35px;
}
// ============================
// l-header
// ============================
/*==============================
ヘッダー
==============================*/
.l-header {
	width:100%;
	background:#94080f;
	.header-logo {
		float:left;
		margin:25px 0 0 0;
	}
	.header-btn {
		float:right;
		.header-list {
			padding:25px 0 15px;
			li {
				margin:0 0 0 15px;
			}
		}
	}
	.header-text{
		display:table;
		font-size:11px;
		color:#fff;
		line-height:1.4;
	}
	.header-text-l,.header-text-r{
		display:table-cell;
		vertical-align:bottom;
	}
	.header-text-l{
		padding:0 9px 0 0;
	}
	.name{
		color:#ffdc1b;
	}
}

// ============================
// l-mv
// ============================
/*==============================
メインビジュアル
==============================*/
.l-mv {
	width:100%;
	background:url(assets/img/top/mv_bg.png) repeat;
	padding:15px 0;
	.mv-main {
		float:left;
	}
	.mv-side {
		float:right;
		img {
			display:block;
		}
		.mv-side-list {
			li {
				margin:0 0 10px 0;
			}
		}
	}
}

// ============================
// l-navi
// ============================
/*==============================
グローバルナビ
==============================*/
.l-navi {
	border:solid 1px #2d2929;
	width:100%;
	height:45px;
	background:#94080f;
	.navi-list {
		@include wrap;
		li {
			height:45px;
		}
	}
}

// ============================
// l-contents
// ============================
/*==============================
コンテンツ
==============================*/
.l-contents {
	overflow: hidden;
	@include wrap;
	@extend %extend-cf;
	padding:20px 0 0 0;
	.l-main {
		float:right;
		width:780px;
	}
	.l-side {
		float:left;
		width:200px;
	}
    .l-breadcrumb{
        padding: 0 0 15px;
        color: #333333;
        font-size: 14px;
        a{
            color: #004986;
        }
    }
	.l-top-advantage{
		p{
			padding:20px 6px 20px 14px;
			width:760px;
			min-height:75px;
			font-size:14px;
			line-height:1.8;
			color:#515151;
		}
	}
}

// ============================
// l-side
// ============================
/*==============================
サイドバー
==============================*/
.l-side {
	padding-bottom: 32768px;
	margin-bottom: -32768px;
	z-index: -1;
	background:url(assets/img/layout/side/side_bg.png) repeat;
	img {
		display:block;
		line-height:1;
	}
	.side-list-top {
		padding:0 0 5px;
		background:#fff;
		border-bottom:1px dashed #0d0d0d;
		li {
			margin:0 0 15px;
		}
	}
	.side-navi-list {
		padding:20px 0 10px 0;
		background:#fff;
		border-bottom:1px dashed #0d0d0d;
		li {
			margin:0 0 10px 0;
		}
	}
	.side-list-bottom {
		padding:20px 0 0 0;
		background:#fff;
		li {
			margin:0 0 15px 0;
		}
	}
}

// ============================
// l-footer
// ============================
/*==============================
フッター
==============================*/
.l-footer {
	width:100%;
	padding:35px 0;
	color:#fff;
	background:#94080f;
	.l-footer-left {
		float:left;
		width:380px;
		.footer-logo {
			margin:0 0 20px 0;
		}
		.footer-address {
			margin:0 0 35px 0;
			font-size:12px;
			line-height:16px;
		}
		.footer-banner {
			margin:0 0 20px 0;
		}
		.footer-copyright {
			font-size:11px;
		}
	}
	.l-footer-right {
		float:right;
		width:620px;
		.footer-navi-box {
			float:left;
			padding:0 30px 0 10px;
			border-left:1px solid #b48f92;
			.footer-navi-list {
				li {
					font-size:14px;
					margin:0 0 10px 0;
					&:before {
						content:">";
						margin:0 5px 0 0;
					}
				}
			}
			.footer-bold-list {
				li {
					font-weight:bold;
				}
			}
		}
	}
}

// ============================
// top
// ============================
/*==============================
トップページ
==============================*/
.top-headline {
	margin:0 0 25px 0;
}
.l-top-catch {
	padding:0 0 45px 0;
	.top-catch-box {
		p {
			margin:0 0 25px 0;
			font-size:14px;
			line-height:25px;
		}
		.top-catch-photo {
			float:right;
			display:inline;
			margin:0 0 0 60px;
		}
	}
}
.l-top-news {
	padding:0 0 80px 0;
	.top-news-list {
		li {
			font-size:16px;
			padding:10px 0;
			border-bottom :2px dotted #808080;
			&:first-child {
				padding:0 0 10px 0;
			}
			.category {
				display:inline-block;
				vertical-align:bottom;
				padding:4px 12px;
				margin:0 0 0 10px;
				font-size:12px;
				color:#fff;
			}
			.category-blog {
				background:#81393a;
			}
			.category-column {
				background:#30527a;
			}
			.title {
				margin:0 0 0 10px;
				color:#253059;
			}
			a {
				text-decoration:none;
				&:hover {
					text-decoration:underline;
				}
			}
		}
	}
}
.l-top-belief {
	padding:0 0 80px 0;
	img {
		display:block;
		line-height:1;
	}
}
.l-top-voice, .l-voice {
	padding:0 0 80px 0;
	.voice-list {
		width:810px;
		li {
			margin:0 30px 30px 0;
			width:240px;
			.voice-head {
				padding:10px 0;
				margin:0 0 10px 0;
				font-size:14px;
				text-align:center;
				border:1px solid #c7c7c7;
			}
			.voice-photo {
				img {
					display:block;
					line-height:1;
				}
			}
			.voice-detail {
				padding:10px;
				background:#f0f0f0;
				border-left:1px solid #c7c7c7;
				border-right:1px solid #c7c7c7;
				border-bottom:1px solid #c7c7c7;
				.text {
					margin:0 0 10px 0;
					font-size:14px;
					line-height:20px;
				}
				.condition {
					margin:0 0 5px 0;
					font-size:12px;
				}
				.name {
					font-size:12px;
				}
			}
		}
	}
	.top-voice-btn {
		display:table;
		margin:0 auto;
	}
}
.l-top-works, .l-works {
	padding:0 0 80px 0;
	.works-list {
		width:810px;
		li {
			margin:0 30px 30px 0;
			.works-head {
				padding:5px 0;
				text-align:center;
				font-weight:bold;
				border:3px solid #f0f0f0;
			}
			.works-photo {
				img {
					display:block;
					line-height:1;
				}
			}
			.works-detail {
				padding:10px;
				background:#f0f0f0;
				font-size:14px;
				line-height:18px;
			}
		}
	}
	.top-works-btn {
		display:table;
		margin:0 auto;
	}
}
.l-main-foot {
    padding: 0 0 65px;
	.foot-banner {
		display:table;
		margin:0 auto;
	}
	.foot-list {
		margin:0 0 0 20px;
		padding:25px 0 60px 0;
		width:770px;
		li {
			margin:0 30px 0 0;
		}
	}
}

/*==============================
専門店の強み
==============================*/
.advantage{
	font-size:14px;
	h1{
		margin:0 0 10px 0;
	}
	p {
		margin:0 0 15px 0;
		line-height:2;
	}
	.catchcopy{
		margin:0 0 50px 0;
	}
	.advantage-box{
		width:819px;
		margin:0 -38px 50px 0;
		li{
			margin:0 38px 0 0;
			img{
				margin:0 0 15px 0;
			}
			p{
				margin:0 0 0 0;
				line-height:1.8;
			}
			b {
				font-weight:700;
			}
		}
	}
}
/*==============================
職人の本音
==============================*/
.real{
	.catchcopy{
		margin:0 0 20px 0;
	}
	.real-box{
		display:table;
		margin:0 0 50px 0;
		.box-left,.box-right{
			display:table-cell;
			vertical-align:top;
		}
		.box-left{
			padding:0 20px 0 0;
			width:200px;
			img{
				display:block;
				margin:0 0 20px 0;
			}
		}
		.box-right{
			table-layout: fixed;
			border-collapse: separate;
			border-spacing:0 1px;
			border-left:solid 1px #352920;
			border-right:solid 1px #352920;
			width:560px;
			color:#333;
			font-size:16px;
			line-height:1.5;
			background:#352920;
			th,td{
				padding:25px 10px 25px 10px;
				border-top:solid 1px #b5b5b5;
				border-bottom:solid 1px #b5b5b5;
			}
			th{
				border-right:solid 1px #352920;
				width:220px;
				text-align:center;
				background:#f7f7f7;
				span{
					font-size:15px;
				}
			}
			td{
				width:350px;
				vertical-align:top;
				background:#FFF;
			}
		}
	}
}
/*==============================
施工の流れ
==============================*/
.flow{
	.catchcopy{
		margin:0 0 20px 0;
	}
	.flow-headline{
		margin:0 0 20px 0;
	}
	.flow-box{
		display:table;
		margin:0 0 40px 0;
		font-size:14px;
		line-height:2;
		color:#333;
		b{
			font-weight:700;
		}
		.box-left,.box-right{
			display:table-cell;
			vertical-align:top;
		}
		.box-left{
			padding:0 20px 0 0;
			width:200px;
			img{
				display:block;
				margin:0 0 20px 0;
			}
		}
	}
}

// ============================
// voice
// ============================
/*==============================
お客様の声
==============================*/

.l-voice {
	padding:0 0 80px 0;
	.voice-list {
		width:810px;
		a:link,
		a:visited,
		a:hover{
			text-decoration:none;
		}
		li {
			margin:0 30px 30px 0;
			width:240px;
			.voice-head:before {
				display:table;
			}
			.voice-head {
				display:table-cell;
				padding:5px;
				margin:0 0 10px 0;
				width:230px;
				height:40px;
				font-size:14px;
				text-align:center;
				color:#fff;
				background:#52171a;
				vertical-align:middle;
			}
			.voice-photo {
				margin:10px 0 0;
				img {
					display:block;
					line-height:1;
				}
			}
			.voice-detail {
				padding:10px;
				background:#f7f7f7;
				.text {
					margin:0 0 10px 0;
					font-size:14px;
					line-height:20px;
				}
				.condition {
					margin:0 0 5px 0;
					font-size:12px;
				}
				.name {
					font-size:12px;
				}
			}
		}
	}
}
.voice-head{
	color:#783300;
	.clm-l{
		float:left;
		font-size:30px;
	}
	.customer-data{
		float:right;
		margin:10px 0;
		font-size:20;
		text-align:right
	}
}
.voice-lead{
	margin:30px 0;
	font-size:12px;
}
.voice-photo-a{
	.photo-finish{
		float:left;
		img{
			max-width:380px;
			width:380px;
			height:auto;
		}
	}
	.photo-snap{
		float:right;
		img{
			max-width:380px;
			width:380px;
			height:auto;
		}
	}
}
.voice-photo-b{
	margin:30px 0;
	img{
		max-width:780px;
		width:780px;
		height:auto;
	}
}
.headline-txt-customer{
	margin:50px 0 0 0;
	padding:10px 0;
	color:#fff;
	text-indent:10px;
	background:#7c070d;
	border:10px solid #4b0307;
	border-width:0 0 0 10px;
}
.voicebox-txt{
	margin:20px 0 40px;
	color:10px;
	font-size:14px;
	line-height:1.8;
}
.voice-bnr{
	margin:20px 0 40px;
}

// ============================
// execution
// ============================
/*==============================
ご近所の施工宅
==============================*/


.execution-lead{
	margin:30px 0;
}
.execution-box{
	margin:0 0 80px;
	.headline-txt{
		padding:5px 25px;
		margin:20px 0;
		background:url(assets/img/module/headline_bg.png) top left repeat-y;
	}
}
.execution-photo{
	margin:0 0 50px;
	img{
		max-width:780px;
		height:auto;
	}
}
.execution-mes{
	font-size:14px;
	line-height:2;
	color:#333333;
}
.l-works {
	padding:0 0 80px 0;
	.works-list {
		width:810px;
		li {
			margin:0 30px 30px 0;
			.works-head {
				color:#FFF;
				text-align:center;
				background:#333;
				font-weight:400;
				border:none;
			}
			.works-photo {
				img {
					display:block;
					line-height:1;
				}
			}
			.works-detail {
				margin:0 0 5px 0;
				height:70px;
				font-size:14px;
				line-height:1.5;
				background:url(assets/img/execution/execution_box_bg.png) repeat-y 0 0;
			}
			.date{
				color:#004986;
				border-bottom:0px !important;
			}
		}
	}
	a:link,
	a:visited{
		color:#004986;
		text-decoration:none;
	}
	a:hover{
		color:#004986;
		text-decoration:underline;
	}
	.works-manth{
		font-size:16px;
		p{
			margin:0 0 25px 0;
		} 
		a{
			margin:0 16px 0 0;
		}
	}
}
.execution-head{
	margin:0 0 40px;
	color:#783300;
	.clm-l{
		float:left;
		font-size:18px;
		font-weight:900;
	}
	.execution-craftsman{
		float:right;
		margin:5px 0;
		font-size:14px;
		text-align:right;
	}
}
.execution-foot{
	margin:50px 0;
	text-align:center;
	p{
		margin:50px 0;
		font-size:14px;
	}
}

// ============================
// media
// ============================
/*==============================
マスコミ取材
==============================*/
.l-media{
	.media-headline{
		margin:0 0 40px 0;
	}
	.media-box{
		@extend %extend-clearfix;
		margin:0 0 40px;
		color:#464646;
		line-height:1.8;
		.clm-l{
			float:left;
			width:250px;
			text-align:center;
		}
		.clm-r{
			float:right;
			width:500px;
			p{
				font-size:14px;
			}
		}
		.media-data{
			margin:15px 0 0;
			font-size:12px;
			dd{
				marghin:0 0 0 1em;
			}
		}
	}
	.media-lead{
		margin:30px 0 20px;
	}
}