@charset "UTF-8";
/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* General */
.float-list, .wrap, .l-contents, .cf, .l-media .media-box {
  *zoom: 1;
}
.float-list:after, .wrap:after, .l-contents:after, .cf:after, .l-media .media-box:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

.float-list li {
  float: left;
}

/* Base */
body {
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', 'sans-serif';
}

a {
  color: #253059;
  text-decoration: underline;
}
a:hover, a:active, a:focus {
  text-decoration: none;
}

/* Layout */
/*==============================
共通要素
==============================*/
.wrap {
  width: 1000px;
  margin: 0 auto;
}

.l-main .breadlist > p {
  margin: 0 0 25px;
  font-size: 14px;
  line-height: 1;
}
.l-main .breadlist > p a {
  text-decoration: none;
}
.l-main .breadlist > p a:hover {
  text-decoration: underline;
}

.headline-main {
  margin: 0 0 25px;
}

.pagenation {
  text-align: right;
  padding: 0 0 25px;
}
.pagenation li {
  display: inline;
  padding: 0 0 0 10px;
}
.pagenation li:last-child a {
  text-decoration: none;
}

.headline-device {
  margin: 0 0 25px 0;
  padding: 7px 25px 7px 25px;
  font-weight: 700;
  background: url(assets/img/module/headline_bg.png) repeat-y 0 0;
}

/*==============================
タイトルバー
==============================*/
.l-titlebar {
  width: 100%;
  height: 25px;
  background: #fff;
}
.l-titlebar h1 {
  width: 1000px;
  margin: 0 auto;
  font-size: 10px;
  line-height: 25px;
  color: #333;
}

h2 {
  padding: 0 0 30px;
}

h3 {
  padding: 0 0 15px;
}
h3.blog-ttl {
  background: #000;
  color: #fff;
  padding: 7px 0 7px 20px;
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: bold;
}

h4 {
  padding: 0 0 20px;
}

.mb5 {
  margin: 0 0 5px;
}

.pb15 {
  padding: 0 0 15px;
}

.pt7 {
  padding: 7px 0 0;
}

.pt10 {
  padding: 10px 0 0;
}

.pb35 {
  padding: 0 0 35px;
}

/*==============================
ヘッダー
==============================*/
.l-header {
  width: 100%;
  background: #94080f;
}
.l-header .header-logo {
  float: left;
  margin: 25px 0 0 0;
}
.l-header .header-btn {
  float: right;
}
.l-header .header-btn .header-list {
  padding: 25px 0 15px;
}
.l-header .header-btn .header-list li {
  margin: 0 0 0 15px;
}
.l-header .header-text {
  display: table;
  font-size: 11px;
  color: #fff;
  line-height: 1.4;
}
.l-header .header-text-l, .l-header .header-text-r {
  display: table-cell;
  vertical-align: bottom;
}
.l-header .header-text-l {
  padding: 0 9px 0 0;
}
.l-header .name {
  color: #ffdc1b;
}

/*==============================
メインビジュアル
==============================*/
.l-mv {
  width: 100%;
  background: url(assets/img/top/mv_bg.png) repeat;
  padding: 15px 0;
}
.l-mv .mv-main {
  float: left;
}
.l-mv .mv-side {
  float: right;
}
.l-mv .mv-side img {
  display: block;
}
.l-mv .mv-side .mv-side-list li {
  margin: 0 0 10px 0;
}

/*==============================
グローバルナビ
==============================*/
.l-navi {
  border: solid 1px #2d2929;
  width: 100%;
  height: 45px;
  background: #94080f;
}
.l-navi .navi-list {
  width: 1000px;
  margin: 0 auto;
}
.l-navi .navi-list li {
  height: 45px;
}

/*==============================
コンテンツ
==============================*/
.l-contents {
  overflow: hidden;
  width: 1000px;
  margin: 0 auto;
  padding: 20px 0 0 0;
}
.l-contents .l-main {
  float: right;
  width: 780px;
}
.l-contents .l-side {
  float: left;
  width: 200px;
}
.l-contents .l-breadcrumb {
  padding: 0 0 15px;
  color: #333333;
  font-size: 14px;
}
.l-contents .l-breadcrumb a {
  color: #004986;
}
.l-contents .l-top-advantage p {
  padding: 20px 6px 20px 14px;
  width: 760px;
  min-height: 75px;
  font-size: 14px;
  line-height: 1.8;
  color: #515151;
}

/*==============================
サイドバー
==============================*/
.l-side {
  padding-bottom: 32768px;
  margin-bottom: -32768px;
  z-index: -1;
  background: url(assets/img/layout/side/side_bg.png) repeat;
}
.l-side img {
  display: block;
  line-height: 1;
}
.l-side .side-list-top {
  padding: 0 0 5px;
  background: #fff;
  border-bottom: 1px dashed #0d0d0d;
}
.l-side .side-list-top li {
  margin: 0 0 15px;
}
.l-side .side-navi-list {
  padding: 20px 0 10px 0;
  background: #fff;
  border-bottom: 1px dashed #0d0d0d;
}
.l-side .side-navi-list li {
  margin: 0 0 10px 0;
}
.l-side .side-list-bottom {
  padding: 20px 0 0 0;
  background: #fff;
}
.l-side .side-list-bottom li {
  margin: 0 0 15px 0;
}

/*==============================
フッター
==============================*/
.l-footer {
  width: 100%;
  padding: 35px 0;
  color: #fff;
  background: #94080f;
}
.l-footer .l-footer-left {
  float: left;
  width: 380px;
}
.l-footer .l-footer-left .footer-logo {
  margin: 0 0 20px 0;
}
.l-footer .l-footer-left .footer-address {
  margin: 0 0 35px 0;
  font-size: 12px;
  line-height: 16px;
}
.l-footer .l-footer-left .footer-banner {
  margin: 0 0 20px 0;
}
.l-footer .l-footer-left .footer-copyright {
  font-size: 11px;
}
.l-footer .l-footer-right {
  float: right;
  width: 620px;
}
.l-footer .l-footer-right .footer-navi-box {
  float: left;
  padding: 0 30px 0 10px;
  border-left: 1px solid #b48f92;
}
.l-footer .l-footer-right .footer-navi-box .footer-navi-list li {
  font-size: 14px;
  margin: 0 0 10px 0;
}
.l-footer .l-footer-right .footer-navi-box .footer-navi-list li:before {
  content: ">";
  margin: 0 5px 0 0;
}
.l-footer .l-footer-right .footer-navi-box .footer-bold-list li {
  font-weight: bold;
}

/*==============================
トップページ
==============================*/
.top-headline {
  margin: 0 0 25px 0;
}

.l-top-catch {
  padding: 0 0 45px 0;
}
.l-top-catch .top-catch-box p {
  margin: 0 0 25px 0;
  font-size: 14px;
  line-height: 25px;
}
.l-top-catch .top-catch-box .top-catch-photo {
  float: right;
  display: inline;
  margin: 0 0 0 60px;
}

.l-top-news {
  padding: 0 0 80px 0;
}
.l-top-news .top-news-list li {
  font-size: 16px;
  padding: 10px 0;
  border-bottom: 2px dotted #808080;
}
.l-top-news .top-news-list li:first-child {
  padding: 0 0 10px 0;
}
.l-top-news .top-news-list li .category {
  display: inline-block;
  vertical-align: bottom;
  padding: 4px 12px;
  margin: 0 0 0 10px;
  font-size: 12px;
  color: #fff;
}
.l-top-news .top-news-list li .category-blog {
  background: #81393a;
}
.l-top-news .top-news-list li .category-column {
  background: #30527a;
}
.l-top-news .top-news-list li .title {
  margin: 0 0 0 10px;
  color: #253059;
}
.l-top-news .top-news-list li a {
  text-decoration: none;
}
.l-top-news .top-news-list li a:hover {
  text-decoration: underline;
}

.l-top-belief {
  padding: 0 0 80px 0;
}
.l-top-belief img {
  display: block;
  line-height: 1;
}

.l-top-voice, .l-voice {
  padding: 0 0 80px 0;
}
.l-top-voice .voice-list, .l-voice .voice-list {
  width: 810px;
}
.l-top-voice .voice-list li, .l-voice .voice-list li {
  margin: 0 30px 30px 0;
  width: 240px;
}
.l-top-voice .voice-list li .voice-head, .l-voice .voice-list li .voice-head {
  padding: 10px 0;
  margin: 0 0 10px 0;
  font-size: 14px;
  text-align: center;
  border: 1px solid #c7c7c7;
}
.l-top-voice .voice-list li .voice-photo img, .l-voice .voice-list li .voice-photo img {
  display: block;
  line-height: 1;
}
.l-top-voice .voice-list li .voice-detail, .l-voice .voice-list li .voice-detail {
  padding: 10px;
  background: #f0f0f0;
  border-left: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
}
.l-top-voice .voice-list li .voice-detail .text, .l-voice .voice-list li .voice-detail .text {
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 20px;
}
.l-top-voice .voice-list li .voice-detail .condition, .l-voice .voice-list li .voice-detail .condition {
  margin: 0 0 5px 0;
  font-size: 12px;
}
.l-top-voice .voice-list li .voice-detail .name, .l-voice .voice-list li .voice-detail .name {
  font-size: 12px;
}
.l-top-voice .top-voice-btn, .l-voice .top-voice-btn {
  display: table;
  margin: 0 auto;
}

.l-top-works, .l-works {
  padding: 0 0 80px 0;
}
.l-top-works .works-list, .l-works .works-list {
  width: 810px;
}
.l-top-works .works-list li, .l-works .works-list li {
  margin: 0 30px 30px 0;
}
.l-top-works .works-list li .works-head, .l-works .works-list li .works-head {
  padding: 5px 0;
  text-align: center;
  font-weight: bold;
  border: 3px solid #f0f0f0;
}
.l-top-works .works-list li .works-photo img, .l-works .works-list li .works-photo img {
  display: block;
  line-height: 1;
}
.l-top-works .works-list li .works-detail, .l-works .works-list li .works-detail {
  padding: 10px;
  background: #f0f0f0;
  font-size: 14px;
  line-height: 18px;
}
.l-top-works .top-works-btn, .l-works .top-works-btn {
  display: table;
  margin: 0 auto;
}

.l-main-foot {
  padding: 0 0 65px;
}
.l-main-foot .foot-banner {
  display: table;
  margin: 0 auto;
}
.l-main-foot .foot-list {
  margin: 0 0 0 20px;
  padding: 25px 0 60px 0;
  width: 770px;
}
.l-main-foot .foot-list li {
  margin: 0 30px 0 0;
}

/*==============================
専門店の強み
==============================*/
.advantage {
  font-size: 14px;
}
.advantage h1 {
  margin: 0 0 10px 0;
}
.advantage p {
  margin: 0 0 15px 0;
  line-height: 2;
}
.advantage .catchcopy {
  margin: 0 0 50px 0;
}
.advantage .advantage-box {
  width: 819px;
  margin: 0 -38px 50px 0;
}
.advantage .advantage-box li {
  margin: 0 38px 0 0;
}
.advantage .advantage-box li img {
  margin: 0 0 15px 0;
}
.advantage .advantage-box li p {
  margin: 0 0 0 0;
  line-height: 1.8;
}
.advantage .advantage-box li b {
  font-weight: 700;
}

/*==============================
職人の本音
==============================*/
.real .catchcopy {
  margin: 0 0 20px 0;
}
.real .real-box {
  display: table;
  margin: 0 0 50px 0;
}
.real .real-box .box-left, .real .real-box .box-right {
  display: table-cell;
  vertical-align: top;
}
.real .real-box .box-left {
  padding: 0 20px 0 0;
  width: 200px;
}
.real .real-box .box-left img {
  display: block;
  margin: 0 0 20px 0;
}
.real .real-box .box-right {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 1px;
  border-left: solid 1px #352920;
  border-right: solid 1px #352920;
  width: 560px;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  background: #352920;
}
.real .real-box .box-right th, .real .real-box .box-right td {
  padding: 25px 10px 25px 10px;
  border-top: solid 1px #b5b5b5;
  border-bottom: solid 1px #b5b5b5;
}
.real .real-box .box-right th {
  border-right: solid 1px #352920;
  width: 220px;
  text-align: center;
  background: #f7f7f7;
}
.real .real-box .box-right th span {
  font-size: 15px;
}
.real .real-box .box-right td {
  width: 350px;
  vertical-align: top;
  background: #FFF;
}

/*==============================
施工の流れ
==============================*/
.flow .catchcopy {
  margin: 0 0 20px 0;
}
.flow .flow-headline {
  margin: 0 0 20px 0;
}
.flow .flow-box {
  display: table;
  margin: 0 0 40px 0;
  font-size: 14px;
  line-height: 2;
  color: #333;
}
.flow .flow-box b {
  font-weight: 700;
}
.flow .flow-box .box-left, .flow .flow-box .box-right {
  display: table-cell;
  vertical-align: top;
}
.flow .flow-box .box-left {
  padding: 0 20px 0 0;
  width: 200px;
}
.flow .flow-box .box-left img {
  display: block;
  margin: 0 0 20px 0;
}

/*==============================
お客様の声
==============================*/
.l-voice {
  padding: 0 0 80px 0;
}
.l-voice .voice-list {
  width: 810px;
}
.l-voice .voice-list a:link,
.l-voice .voice-list a:visited,
.l-voice .voice-list a:hover {
  text-decoration: none;
}
.l-voice .voice-list li {
  margin: 0 30px 30px 0;
  width: 240px;
}
.l-voice .voice-list li .voice-head:before {
  display: table;
}
.l-voice .voice-list li .voice-head {
  display: table-cell;
  padding: 5px;
  margin: 0 0 10px 0;
  width: 230px;
  height: 40px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: #52171a;
  vertical-align: middle;
}
.l-voice .voice-list li .voice-photo {
  margin: 10px 0 0;
}
.l-voice .voice-list li .voice-photo img {
  display: block;
  line-height: 1;
}
.l-voice .voice-list li .voice-detail {
  padding: 10px;
  background: #f7f7f7;
}
.l-voice .voice-list li .voice-detail .text {
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 20px;
}
.l-voice .voice-list li .voice-detail .condition {
  margin: 0 0 5px 0;
  font-size: 12px;
}
.l-voice .voice-list li .voice-detail .name {
  font-size: 12px;
}

.voice-head {
  color: #783300;
}
.voice-head .clm-l {
  float: left;
  font-size: 30px;
}
.voice-head .customer-data {
  float: right;
  margin: 10px 0;
  font-size: 20;
  text-align: right;
}

.voice-lead {
  margin: 30px 0;
  font-size: 12px;
}

.voice-photo-a .photo-finish {
  float: left;
}
.voice-photo-a .photo-finish img {
  max-width: 380px;
  width: 380px;
  height: auto;
}
.voice-photo-a .photo-snap {
  float: right;
}
.voice-photo-a .photo-snap img {
  max-width: 380px;
  width: 380px;
  height: auto;
}

.voice-photo-b {
  margin: 30px 0;
}
.voice-photo-b img {
  max-width: 780px;
  width: 780px;
  height: auto;
}

.headline-txt-customer {
  margin: 50px 0 0 0;
  padding: 10px 0;
  color: #fff;
  text-indent: 10px;
  background: #7c070d;
  border: 10px solid #4b0307;
  border-width: 0 0 0 10px;
}

.voicebox-txt {
  margin: 20px 0 40px;
  color: 10px;
  font-size: 14px;
  line-height: 1.8;
}

.voice-bnr {
  margin: 20px 0 40px;
}

/*==============================
ご近所の施工宅
==============================*/
.execution-lead {
  margin: 30px 0;
}

.execution-box {
  margin: 0 0 80px;
}
.execution-box .headline-txt {
  padding: 5px 25px;
  margin: 20px 0;
  background: url(assets/img/module/headline_bg.png) top left repeat-y;
}

.execution-photo {
  margin: 0 0 50px;
}
.execution-photo img {
  max-width: 780px;
  height: auto;
}

.execution-mes {
  font-size: 14px;
  line-height: 2;
  color: #333333;
}

.l-works {
  padding: 0 0 80px 0;
}
.l-works .works-list {
  width: 810px;
}
.l-works .works-list li {
  margin: 0 30px 30px 0;
}
.l-works .works-list li .works-head {
  color: #FFF;
  text-align: center;
  background: #333;
  font-weight: 400;
  border: none;
}
.l-works .works-list li .works-photo img {
  display: block;
  line-height: 1;
}
.l-works .works-list li .works-detail {
  margin: 0 0 5px 0;
  height: 70px;
  font-size: 14px;
  line-height: 1.5;
  background: url(assets/img/execution/execution_box_bg.png) repeat-y 0 0;
}
.l-works .works-list li .date {
  color: #004986;
  border-bottom: 0px !important;
}
.l-works a:link,
.l-works a:visited {
  color: #004986;
  text-decoration: none;
}
.l-works a:hover {
  color: #004986;
  text-decoration: underline;
}
.l-works .works-manth {
  font-size: 16px;
}
.l-works .works-manth p {
  margin: 0 0 25px 0;
}
.l-works .works-manth a {
  margin: 0 16px 0 0;
}

.execution-head {
  margin: 0 0 40px;
  color: #783300;
}
.execution-head .clm-l {
  float: left;
  font-size: 18px;
  font-weight: 900;
}
.execution-head .execution-craftsman {
  float: right;
  margin: 5px 0;
  font-size: 14px;
  text-align: right;
}

.execution-foot {
  margin: 50px 0;
  text-align: center;
}
.execution-foot p {
  margin: 50px 0;
  font-size: 14px;
}

/*==============================
マスコミ取材
==============================*/
.l-media .media-headline {
  margin: 0 0 40px 0;
}
.l-media .media-box {
  margin: 0 0 40px;
  color: #464646;
  line-height: 1.8;
}
.l-media .media-box .clm-l {
  float: left;
  width: 250px;
  text-align: center;
}
.l-media .media-box .clm-r {
  float: right;
  width: 500px;
}
.l-media .media-box .clm-r p {
  font-size: 14px;
}
.l-media .media-box .media-data {
  margin: 15px 0 0;
  font-size: 12px;
}
.l-media .media-box .media-data dd {
  marghin: 0 0 0 1em;
}
.l-media .media-lead {
  margin: 30px 0 20px;
}
